body {
  color: #FF8C00;
  overflow-y: scroll;
  background-color: #cccccc;
  text-align: center;
}

#map {
  width: 350px;
  height: 350px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  /*Utilized the format of the answer in this link: ('Stack Overflow - CSS, CENTERED element over Google Maps'
  (http://stackoverflow.com/questions/9708569/css-centered-element-over-google-maps))*/
  z-index: -1;
}

h1 {
  font-weight: thick;
  text-decoration: underline;
  text-align: center;
}

h2 {
  font-weight: thick;
  font-style: italic;
  text-align: center;
}

img {
  margin: 0 auto;
  display: inline-block;
}

a {
  color: inherit;
}

table {
  text-align:center; 
  margin-left:auto; 
  margin-right:auto; 
  width: 500px;
}

tr th {
  font-size: 150%;
}
